<ion-header>
  <ion-toolbar>
    <ion-title>Keranjang</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list>
    <ion-item *ngFor="let item of cart">
      {{ item.name }} x {{ item.quantity }}
      <ion-buttons slot="end">
        <ion-button (click)="decrease(item)">-</ion-button>
        <ion-button (click)="increase(item)">+</ion-button>
      </ion-buttons>
    </ion-item>
  </ion-list>

  <ion-button expand="block" (click)="checkout()">Checkout</ion-button>
</ion-content>
